<mat-form-field color="basic" class="search">
    <input matInput type="search" id="srch" autocomplete="one-time-code" [(ngModel)]="filterArgs.Name">
    <button mat-button *ngIf="filterArgs.Name!=''" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    <mat-icon matSuffix>search</mat-icon>
    
  </mat-form-field>
<mat-nav-list>
  <mat-list-item
    class="navitem"  
    *ngFor="let item of items | menufilter:filterArgs; order"
    (click)="navigate(item.Url)"
  >
    <mat-icon class="navicon" mat-list-icon>{{ item.Icon }}</mat-icon>
    {{item.Name| transloco }}</mat-list-item
  >
</mat-nav-list>
