.table{
    width:98%;
    word-wrap: break-word;
    
}

.mat-elevation-z8{
    width: 100%;
}
.mat-cell{
    padding-left: 3px;
}
.left-margin{
    margin-left: 5px;
}

.pull-right{
    text-align: right;
}