
.mat-sidenav-container{
    height: 100%;
}
.mat-sidenav{
    background: #7c5ab3;
    background: linear-gradient(0deg,#beacda 0,#7c5ab3 100%);
    margin: 30px;
    border-radius: 5px;
}
@media only screen and (max-width: 350px ) {
    .mat-sidenav{
        width: 80%;
    }
}
@media only screen and (max-width: 600px) and ( min-width: 350px) {
    .mat-sidenav{
        width: 50%;
    }
}
@media only screen and (max-width: 1200px) and ( min-width: 600px) {
    .mat-sidenav{
        width: 30%;
    }
}

@media only screen and (min-width: 1200px) {
    .mat-sidenav{
        width: 20%;
    }
}