mat-card{
    width: 350px;
    height: 550px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2%;  
    padding: 5%;
    
}
mat-tab-group{
    width: 400px;
    height: 600px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    
}


  ::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em!important;
 }

