<mat-toolbar color="primary">
  <button mat-icon-button color="accent" *ngIf="loggedIn" (click)="showMenu()">
    <mat-icon>menu</mat-icon>
  </button>
    <img src="../../../assets/images/m2.png">
    <span class="narrowhide">{{companyName}}</span>
    <span class="spacer"></span>
    <mat-button class="narrowhide" *ngIf="loggedIn" style="padding-right: 5px;">{{userName}}</mat-button>
    <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu" *ngIf="loggedIn" style="margin-right: 10px;">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="dologout()">
        <mat-icon>logout</mat-icon>
        <span>{{'navbar.logout'|transloco}}</span>
      </button>
    </mat-menu>
    <button mat-mini-fab color="accent" (click)="changeLanguage('tr')" *ngIf="activeLanguage==='en'">
      TR
    </button>
    <button mat-mini-fab color="accent" (click)="changeLanguage('en')" *ngIf="activeLanguage==='tr'">
      EN
    </button>
  </mat-toolbar>